@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: 'Geist';
		src: local('Geist'), local('geist'), url('/fonts/Geist/Geist-Regular.woff2');
		font-weight: normal;
		font-display: swap;
	}
	@font-face {
		font-family: 'Geist';
		src: local('Geist'), local('geist'), url('/fonts/Geist/Geist-Bold.woff2');
		font-weight: bold;
		font-display: swap;
	}
}

*, *::before, *::after {
  font-family: Geist;
}

:root {
  --color-accent: #2a3ffb;
}

.bkg-overlay {
  background: linear-gradient(270deg, var(--color-accent), #1b1b1b);
  background-size: 400% 400%;

  animation: overlay 31s ease infinite;
}

@keyframes overlay {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}