@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: 'Geist';
		src: local('Geist'), local('geist'), url('/fonts/Geist/Geist-Regular.woff2');
		font-weight: normal;
		font-display: swap;
	}
	@font-face {
		font-family: 'Geist';
		src: local('Geist'), local('geist'), url('/fonts/Geist/Geist-Bold.woff2');
		font-weight: bold;
		font-display: swap;
	}
}

*, *::before, *::after {
  font-family: Geist;
}

.main {
  display: grid;
  grid-template-areas: 'stack';
  place-items: center;
  height: 100dvh;
  width: 100dvw;
}

.main > * {
  grid-area: stack;
}
